#herovideo {
  position: fixed;
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  min-width: 100%;
  min-height: 100%;
  opacity: 50%;
  pointer-events: none;
}

/* Default fade animation for compatible browsers */
.hero-container {
  animation-name: fade;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll();
}

/* Disable animation and set opacity to 0% for mobile devices */
@media (max-width: 768px) {
  .hero-container {
    animation: none;
    opacity: 0%;
  }
}

/* Disable animation and set opacity to 0% for incompatible browsers */
@supports not (animation-timeline: scroll()) {
  .hero-container {
    animation: none;
    opacity: 0%;
  }
}

/* Internet Explorer */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .hero-container {
    animation: none;
    opacity: 0%;
  }
}

/* Microsoft Edge */
@supports (-ms-ime-align: auto) {
  .hero-container {
    animation: none;
    opacity: 0%;
  }
}

/* Mozilla Firefox */
@-moz-document url-prefix() {
  .hero-container {
    animation: none;
    opacity: 0%;
  }
}

/* Safari */
@media not all and (min-resolution: 0.001dpcm) {
  .hero-container {
    animation: none;
    opacity: 0%;
  }
}

@keyframes fade {
  0% {
    opacity: 50%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
