#herovideo {
  position: fixed;
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  min-width: 100%;
  min-height: 100%;
  opacity: 90%;
}

/** Internet Explorer */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .hero-container {
    animation-name: fade;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-direction: alternate;
    animation-timeline: scroll();
  }
}

/** Microsoft Edge */
@supports (-ms-ime-align: auto) {
  .hero-container {
    animation-name: fade;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-direction: alternate;
    animation-timeline: scroll();
  }
}

/** Mozilla Firefox */
@-moz-document url-prefix() {
  .hero-container {
    visibility: hidden;
    opacity: 0%;
  }
}

/** Safari */
@media not all and (min-resolution: 0.001dpcm) {
  .hero-container {
    visibility: hidden;
    opacity: 0%;
  }
}

/** Chrominum */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .hero-container {
    animation-name: fade;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-direction: alternate;
    animation-timeline: scroll();
  }
}





@keyframes fade {
  0% {
    opacity: 50%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}





